* {
  box-sizing : border-box;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fontawesome {
  font-size: 30px;
  color: lightgray;
}


