* {
  box-sizing : border-box;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fontawesome {
  width: 30px;
  height: 30px;
  color: lightgray;
}

.relative {
  position: relative;
}

