* {
  box-sizing : border-box;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fontawesome {
  width: 30px;
  height: 30px;
  color: lightgray;
}

.relative {
  position: relative;
}

